node_modules/
.project_id
.github_repo
.env
.env.*
mobile-web/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json

# clerk configuration (can include secrets)
/.clerk/
